---

---

<header>
  <div> {/*This will serve as a wrapper/parent for the logo div and nav*/} 
    <div> {/*I intend to put the logo here*/}</div>
    <div> {/*this is wrapper for the nav, maybe this is unncesary*/}
      <nav aria-label="Primary Navigation">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
